numpy>=1.20.2
matplotlib>=3.3.3
rx>=3.2.0
scipy>=1.6.0
sounddevice>=0.4.2
einops>=0.3.0
tqdm>=4.64.0
pandas>=1.4.2
torch>=1.12.1
torchvision>=0.14.0
torchaudio>=2.0.2
pyannote.audio>=2.1.1
pyannote.core>=4.5
pyannote.database>=4.1.1
pyannote.metrics>=3.2
optuna>=2.10
websocket-server>=0.6.4
websocket-client>=0.58.0
rich>=12.5.1
